//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	color: $whiteColor;
	transition: color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $hoverColor;
		}
	}

	&._fw {
		width: 100%;
	}

	span {}

	._icon-arrow {
		position: relative;
		left: 50px;
		bottom: 25px;

		&::before {
			// z-index: 10;
			padding: rem(50) rem(30);
			border: 2px solid #FFFFFF;
			background: inherit;
			border-radius: 50%;
		}

	}
}